
/Casey_West_Maui_Sample/Maui_Api/obj
/Casey_West_Maui_Sample/Maui_App/obj
/Casey_West_Maui_Sample/Maui_App/bin
/Casey_West_Maui_Sample/Maui_Api/bin
/Casey_West_Maui_Sample/Maui_Api/.vs
/Casey_West_Maui_Sample/Maui_App/.vs
/Casey_West_Maui_Sample/.vs
/.vs
